@font-face {
  font-family: myFirstFont;
  src: url(pubg.ttf);
}
body {
  background-image: url(pubg3.jpg);
  background-repeat: no-repeat;
  height: device-height;
  width: device-width;
  background-position:center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#464646;
  font-family: 'Century Gothic',sans-serif;
}
@media only screen and (max-width: 720px)
{
  body{
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
     background: url(pubg9.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     overflow: fixed;
     margin: 0;
     padding: 0;
  }
}
.box{
  width: 450px;
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  background-position: center center;
  background-attachment: fixed;
  padding: 45px;
  text-align: center;
  margin: auto;
  margin-top: 8%;
  color: white;
  font-family:myFirstFont;
  overflow: hidden;
  overflow-y: auto;

}
@media only screen and (max-width: 720px)
{
  .box{
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
     width: 250px;
     height: auto;
     background: none;
     background-position: center;
     background-attachment: fixed;
     padding: 20px;
     text-align: center;
     margin: auto;
     margin-top: 8%;
     color: white;
     font-family: myFirstFont;
     overflow: hidden;
     overflow-y: auto;
  }
}

.responsive1
{
  width: 400px;
  height: 60px;
}
@media only screen and (max-width: 720px)
{
  .responsive1
  {
    width: 260px;
    height: 40px;
  }
}

.responsive2
{
  width: 250px;
  height: 56px;
}
@media only screen and (max-width: 720px)
{
  .responsive2
  {
    width: 150px;
    height: 30px;
  }
}

}
.box h1{
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 100;
  font-family:  Arial Black;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
.img1{
  width: 170px;
  height: 100px;
}
.group{
  width: 95%;
  height: 95%;
}
.round
{
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.tweet{
  width: 250px;
  height: auto;
  background-position: center center;
  background-attachment: fixed;
  padding: 45px;
  text-align: center;
  margin: auto;
  margin-top: 8%;
  color: white;
  font-family:myFirstFont;
  overflow: hidden;

}
@media only screen and (max-width: 720px)
{
.tweet{
  /* The file size of this background image is 93% smaller
   * to improve page load speed on mobile internet connections */
   width: 250px;
   height: 250px;
   background: none;
   background-position: center;
   background-attachment: fixed;
   padding: 20px;
   text-align: center;
   margin: auto;
   margin-top: 8%;
   color: white;
   font-family: myFirstFont;
   overflow: hidden;
   overflow-y: visible;
}
}
